/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap'); */

* {
    margin:0;
    padding: 0;
    /* box-sizing: 0; */
}

/* NAWIGATION */

nav {
    margin: 15px auto;
    /* padding-left: 100px; */
    max-width: 1440px;
    text-align: right;
    /* padding: 30px; */
    height: 65px;
    
}

nav a:hover{
    border-bottom:2px solid royalblue;
    color: black;

}

.styled {
    font-size: 2.rem;
    border: 1px solid#B6D6F2;
    padding: 10px 30px;
    letter-spacing: 8px;
    /* margin-left: 200px; */
    /* margin-right: 50px; */
    margin-left: 100px;


}
.styled:hover{
    background-color: royalblue;
    transition: 0.3s;

}

nav a {
    font-size: 2.8rem;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:grey;
    padding: 10px;
    margin: 0 20px;

}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url('images/wake2.png');
    height: 40vh;
    background-size: cover;
    padding:40 px;
    box-sizing: border-box;
    /* background-position:center ; */
}
header h1 {
    font-size: 3rem;
    color: white;
    line-height: 40vh;
    text-align: center;
    letter-spacing: 7px;
    background-color: rgba(0, 204, 255, 0.15);
    
}
footer {
    background-color: black;
}
footer p {
    color:white;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}

main {
    max-width: 1440px;
    margin: 5vh auto;
    font-size: 0;
}

main p.description {
    font-size: 3.1rem;
    text-align: center;
    margin: 0px 30px 50px 30px;
    line-height: 180%;
}

main div.main1{
    display: inline-block;
    width: 33%;
    text-align: center;
}

main div.image {
    height: 200px;
    background-color: cadetblue;
    margin: 20px;
    border-radius: 15px;

}
main div.image:hover {
    background-color: black;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color:gray;
}